<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Scripts -->
    
  <!-- Styles -->
  <!--Esta hoja de estilo será leída por el ecommerce-->
  <mini-site-styles>
    <link rel="stylesheet" href="css/minimal.css">
    <link rel="stylesheet" href="css/fonts_samsung.css">
    <link rel="stylesheet" href="css/jquery.fancybox.min.css">
  </mini-site-styles>
  
<!-- Meta Info -->
    <title>Samsung</title>
    <meta name="description" content="" />
  
  </head>
<!-- Start Page -->
  <body>
    <mini-site>
      <div class="ficha-2021-samsung">
